---
layout: default
---

<div class="home">

  <div style="width:100%">
    <div style="float:left;width:170px;margin-top:50px;margin-left: -170px;">
      <div>Android SDK</div>
      <ul style="margin-left:10px;list-style: none">
        <li><a href="/stm-sdk-android/">Home</a></li>
        <li><a href="getting-started">Getting Started</a>
          <ul>
            <li><a href="setup">Setup</a></li>
            <li><a href="sample-app">Sample App</a></li>
          </ul>
        </li>
        <li><a href="stm-service">StmService</a></li>
        <li><a href="recording-overlay">Recording</a></li>
        <li><a href="notifications">Messages and Notifications</a></li>
        <li><a href="reference">Reference</a></li>

      </ul>
    </div>
    <div style="width:100%;">
      {{ content }}
    </div>
  </div>

</div>